.log-panel {
    font-family: monospace;
    background-color: whitesmoke;
    padding: 12px;
    list-style-type: none;

    border: 1px solid black;
    border-radius: 12px;

    height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;
}
