.log-panel {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 12px;
    font-family: monospace;
    list-style-type: none;

    height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    flex-direction: column-reverse;
    display: flex;
}
